body {
    margin: 0;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  /* Media query for phone viewport */
  @media (max-width: 767px) {
    body {
      justify-content: flex-start; /* Adjust alignment for smaller screens */
    }
    
    #confetti-container {
      width: 100%; /* Make SVG container full width */
      height: 50vh; /* Adjust the height as needed */
    }
  }
  



.logo{

width: 5%;
margin: 2%;
display: inline-block;
}