body {
    margin-top: 5%; 
    margin-left: 8%;
    margin-right: 8%;
    display:  flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center; 
    align-content: center;
    background-color: #f0f0f0;
    text-align: center;
    color: rgb(15, 15, 102);
  }
  
  #confetti-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; /* Set the desired z-index value */
  }
 
  
  /* Media query for phone viewport */
  @media (max-width: 767px) {
    body {
      justify-content: flex-start; /* Adjust alignment for smaller screens */
    }
    div {

width: 90%;

    }
    #confetti-container {
      width: 100%; /* Make SVG container full width */
      height: 100%; /* Adjust the height as needed */
    }
  }
  



.logo {

width:13%;
margin: 2%;
position: relative;
display: flex;
cursor: pointer; 
display: inline-block;
animation: flicker 2s infinite; /* Adjust the duration as needed */

}

.logo:hover {
  cursor: help; /* Change cursor to a help icon */
  content: "Merry"; /* Display "Merry" on hover */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 16px;
  list-style-type: none; /* Remove the point */
}


div {
display: inline-block;
align-items: center;
}



/* Center the message */
#messagePopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000; /* Change the value if necessary */ 
}
 











@keyframes flicker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

 